[submodule "code/matlab/external/export_fig"]
	path = code/matlab/external/export_fig
	url = https://github.com/altmany/export_fig.git
[submodule "code/matlab/external/fieldtrip"]
	path = code/matlab/external/fieldtrip
	url = https://github.com/fieldtrip/fieldtrip.git
[submodule "code/matlab/external/ssa"]
	path = code/matlab/external/ssa
	url = https://github.com/anton-a-tkachev/SSA-for-Matlab.git
